<div class="visitor-map" style="text-align: center; margin: 2em auto; width: 250px;">
    <!-- Clustrmaps 访客统计 -->
    <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=YOUR_ID_HERE&cl=ffffff&w=300"></script> -->
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=jmiITJSvU5H74hkIautQlC3lWrrrAOiOfDdlk0kxMZU&cl=ffffff&w=a"></script>
    <!-- 或者使用 Flag Counter -->
    <!-- <a href="https://info.flagcounter.com/xxxx">
      <img src="https://s11.flagcounter.com/count2/xxxx/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter">
    </a> -->
  </div> 